{% extends "base.html" %}

{% block content %}
    <h1>LTU Bikes</h1>


    <p><b style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: left;">About us <br>
    Random place where we put the stuff we are about to be added later</b></p>
{% endblock %}
