{% extends "base.html" %}

{% block content %}
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            background-color: #7aa8b7;
            border-radius: 6px;
            outline: none;
        }
    </style>
    <h1>Sign In</h1>
    <form action="" method="post">
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <br>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <br>
            <button type="submit">Login</button>
         </div>
    </form>
    <a class="button" href="{{ url_for('register') }}">Create account</a>
{% endblock %}
