{% extends "base.html" %}

{% block content %}

    <h1>Register</h1>
    <form action="" method="post">
        <div class="container">
          <div class="msg">{{ msg }}</div>
            <label for="uname"><b></b></label>
            <input type="text" placeholder="Username" name="username" required>
            <br>
            <label for="name"><b></b></label>
            <input type="text" placeholder="Full name" name="name" required>
            <br>
            <label for="Address"><b></b></label>
            <input type="text" placeholder="Address" name="address" required>
            <br>
            <label for="phone_number"><b></b></label>
            <input type="text" placeholder="Phone number" name="phone_num" required>
            <br><label for="email"><b></b></label>
            <input type="text" placeholder="Email" name="email" required>
            <br>
            <label for="psw"><b></b></label>
            <input type="password" placeholder="Password" name="password" required>
            <br>
            <button type="submit">Create account</button>
        </div>
    </form>

{% endblock %}
